*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

* a {
    text-decoration: none;
    color: black
}

.body {
    height: 100% !important;
    background-repeat: repeat !important;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page_header {
    padding-top: 60px;
    flex-grow: 0;
    flex-shrink: 0;
}

.page_body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 60px;
    font-weight: 900;
    background-image: url('../assets/img/ingame_imgs/5.background/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page_body button {
    margin-bottom: 60px;
    background-color: #ff9500;
    padding: 4px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    color: black;
}

@media (max-width: 450px) {
    .page_body button {
        font-size: 16px;
        width: 150px;
    }
}